schemas/shibboleth-2.0-native-sp-config.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<schema targetNamespace="urn:mace:shibboleth:2.0:native:sp:config"
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:conf="urn:mace:shibboleth:2.0:native:sp:config"
	xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion"
	xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol"
	xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="substitution"
	version="2.1">

	<import namespace="urn:oasis:names:tc:SAML:2.0:assertion" schemaLocation="saml-schema-assertion-2.0.xsd"/>
	<import namespace="urn:oasis:names:tc:SAML:2.0:protocol" schemaLocation="saml-schema-protocol-2.0.xsd"/>
	<import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>

	<annotation>
		<documentation>
		2.0 schema for XML-based configuration of Shibboleth Native SP instances.
		First appearing in Shibboleth 2.0 release.
    		</documentation>
	</annotation>

	<simpleType name="string">
		<restriction base="string">
			<minLength value="1"/>
		</restriction>
	</simpleType>

	<simpleType name="listOfStrings">
		<list itemType="conf:string"/>
	</simpleType>

	<simpleType name="listOfURIs">
		<list itemType="anyURI"/>
	</simpleType>

	<simpleType name="bindingBoolean">
		<restriction base="string">
			<enumeration value="true"/>
			<enumeration value="false"/>
			<enumeration value="front"/>
			<enumeration value="back"/>
		</restriction>
	</simpleType>
	
	<complexType name="PluggableType">
		<sequence>
			<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="type" type="conf:string" use="required"/>
		<anyAttribute namespace="##any" processContents="lax"/>
	</complexType>

	<element name="SPConfig">
		<complexType>
			<annotation>
				<documentation>Root of configuration</documentation>
			</annotation>
			<sequence>
				<element ref="conf:Extensions" minOccurs="0"/>
				<element ref="conf:OutOfProcess"/>
				<element ref="conf:InProcess"/>
                <choice minOccurs="0">
                    <element name="UnixListener">
                        <complexType>
                            <attribute name="address" type="conf:string" use="required"/>
                        </complexType>
                    </element>
                    <element name="TCPListener">
                        <complexType>
                            <attribute name="address" type="conf:string" use="required"/>
                            <attribute name="port" type="unsignedInt" use="required"/>
                            <attribute name="acl" type="conf:listOfStrings"/>
                        </complexType>
                    </element>
                    <element name="Listener" type="conf:PluggableType"/>
                </choice>
                <element ref="conf:StorageService" minOccurs="0" maxOccurs="unbounded"/>
                <element ref="conf:SessionCache" minOccurs="0"/>
                <element ref="conf:ReplayCache" minOccurs="0"/>
                <element ref="conf:ArtifactMap" minOccurs="0"/>
                <element name="RequestMapper" type="conf:PluggableType" minOccurs="0"/>
				<element ref="conf:ApplicationDefaults"/>
				<element ref="conf:SecurityPolicies"/>
                <element ref="conf:TransportOption" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="logger" type="anyURI"/>
			<attribute name="clockSkew" type="unsignedInt"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<element name="Extensions">
		<annotation>
			<documentation>Container for extension libraries and custom configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Library" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="path" type="anyURI" use="required"/>
						<attribute name="fatal" type="boolean"/>
						<anyAttribute namespace="##any" processContents="lax"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>

	<element name="StorageService">
		<annotation>
			<documentation>References StorageService plugins</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<restriction base="conf:PluggableType">
					<sequence>
						<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="id" type="ID" use="required"/>
					<attribute name="cleanupInterval" type="unsignedInt"/>
					<anyAttribute namespace="##any" processContents="lax"/>
				</restriction>
			</complexContent>
		</complexType>
	</element>

	<element name="SessionCache">
		<annotation>
			<documentation>References SessionCache plugins</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<restriction base="conf:PluggableType">
					<sequence>
						<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="StorageService" type="IDREF"/>
					<attribute name="cacheTimeout" type="unsignedInt"/>
					<anyAttribute namespace="##any" processContents="lax"/>
				</restriction>
			</complexContent>
		</complexType>
	</element>
	
	<element name="ReplayCache">
		<annotation>
			<documentation>Ties ReplayCache to a custom StorageService</documentation>
		</annotation>
		<complexType>
			<sequence/>
			<attribute name="StorageService" type="IDREF" use="required"/>
		</complexType>
	</element>
	
	<element name="ArtifactMap">
		<annotation>
			<documentation>Customizes an ArtifactMap</documentation>
		</annotation>
		<complexType>
			<sequence/>
			<attribute name="StorageService" type="IDREF"/>
			<attribute name="context" type="conf:string"/>
			<attribute name="artifactTTL" type="unsignedInt"/>
		</complexType>
	</element>
	
	<element name="OutOfProcess">
		<annotation>
			<documentation>Container for out-of-process (shibd) configuration</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Extensions" minOccurs="0"/>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="logger" type="anyURI"/>
		    <attribute name="catchAll" type="boolean"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<element name="InProcess">
		<annotation>
			<documentation>
			Container for configuration of locally integrated or platform-specific
			features (e.g. web server filters)
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Extensions" minOccurs="0"/>
				<element ref="conf:ISAPI" minOccurs="0"/>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="logger" type="anyURI"/>
			<attribute name="unsetHeaderValue" type="string"/>
			<attribute name="checkSpoofing" type="boolean"/>
		    <attribute name="catchAll" type="boolean"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="ISAPI">
		<complexType>
			<sequence>
				<element name="Site" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="Alias" type="string" minOccurs="0" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="id" type="unsignedInt" use="required"/>
						<attribute name="name" type="conf:string" use="required"/>
						<attribute name="port" type="unsignedInt"/>
						<attribute name="sslport" type="unsignedInt"/>
						<attribute name="scheme" type="conf:string"/>
					</complexType>
				</element>
				<any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="normalizeRequest" type="boolean"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<element name="AccessControl" type="conf:UniOperatorType">
		<annotation>
			<documentation>
			A simple example access policy language extension that supersedes Apache .htaccess
			</documentation>
		</annotation>
	</element>
	<element name="OR" type="conf:MultiOperatorType"/>
	<element name="AND" type="conf:MultiOperatorType"/>
	<element name="NOT" type="conf:UniOperatorType"/>
	<complexType name="UniOperatorType">
		<choice>
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		    <element ref="conf:RuleRegex"/>
		</choice>
	</complexType>
	<complexType name="MultiOperatorType">
		<choice minOccurs="2" maxOccurs="unbounded">
			<element ref="conf:AND"/>
			<element ref="conf:OR"/>
			<element ref="conf:NOT"/>
			<element ref="conf:Rule"/>
		    <element ref="conf:RuleRegex"/>
		</choice>
	</complexType>
	<element name="Rule">
		<complexType>
			<simpleContent>
				<extension base="conf:listOfStrings">
					<attribute name="require" type="conf:string" use="required"/>
				    <attribute name="list" type="boolean"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
    <element name="RuleRegex">
        <complexType>
            <simpleContent>
                <extension base="conf:string">
                    <attribute name="require" type="conf:string" use="required"/>
                    <attribute name="ignoreCase" type="boolean"/>
                </extension>
            </simpleContent>
        </complexType>
    </element>
	
	<attributeGroup name="ContentSettings">
		<attribute name="authType" type="conf:string"/>
		<attribute name="requireSession" type="boolean"/>
		<attribute name="requireSessionWith" type="conf:string"/>
		<attribute name="exportAssertion" type="boolean"/>
		<attribute name="redirectToSSL" type="unsignedInt"/>
		<attribute name="entityID" type="anyURI"/>
		<attribute name="isPassive" type="boolean"/>
		<attribute name="forceAuthn" type="boolean"/>
		<attribute name="authnContextClassRef" type="anyURI"/>
		<attribute name="authnContextComparison" type="samlp:AuthnContextComparisonType"/>
        <attribute name="redirectErrors" type="anyURI"/>
		<attribute name="sessionError" type="anyURI"/>
		<attribute name="metadataError" type="anyURI"/>
		<attribute name="accessError" type="anyURI"/>
		<attribute name="sslError" type="anyURI"/>
		<anyAttribute namespace="##other" processContents="lax"/>
	</attributeGroup>
	<element name="AccessControlProvider" type="conf:PluggableType"/>
	<element name="htaccess" type="conf:PluggableType"/>

    <element name="RequestMap">
		<annotation>
			<documentation>
			Built-in request mapping syntax, decomposes URLs into Host/Path/Path/...
			</documentation>
		</annotation>
        <complexType>
            <sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
            	<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="conf:Host"/>
            		<element ref="conf:HostRegex"/>
            	</choice>
            </sequence>
            <attribute name="applicationId" type="conf:string" fixed="default"/>
         	<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

    <element name="Host">
    	<complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<choice minOccurs="0" maxOccurs="unbounded">
    				<element ref="conf:Path"/>
    				<element ref="conf:PathRegex"/>
    				<element ref="conf:Query"/>
    			</choice>
    		</sequence>
    		<attribute name="scheme">
			    <simpleType>
			        <restriction base="conf:string">
			            <enumeration value="http"/>
			            <enumeration value="https"/>
			            <enumeration value="ftp"/>
			            <enumeration value="ldap"/>
			            <enumeration value="ldaps"/>
			        </restriction>
			    </simpleType>
    		</attribute>
    		<attribute name="name" type="conf:string" use="required"/>
    		<attribute name="port" type="unsignedInt"/>
			<attribute name="applicationId" type="conf:string"/>
           	<attributeGroup ref="conf:ContentSettings"/>
    	</complexType>
    </element>
	
	<element name="HostRegex">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
					<element ref="conf:AccessControlProvider"/>
				</choice>
				<choice minOccurs="0" maxOccurs="unbounded">
					<element ref="conf:Path"/>
					<element ref="conf:PathRegex"/>
					<element ref="conf:Query"/>
				</choice>
			</sequence>
			<attribute name="regex" type="conf:string" use="required"/>
			<attribute name="ignoreCase" type="boolean"/>
			<attribute name="applicationId" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
		</complexType>
	</element>

    <element name="Path">
        <complexType>
    		<sequence>
            	<choice minOccurs="0">
            		<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
	            	<element ref="conf:AccessControlProvider"/>
	            </choice>
    			<choice minOccurs="0" maxOccurs="unbounded">
    				<element ref="conf:Path"/>
    				<element ref="conf:PathRegex"/>
    				<element ref="conf:Query"/>
    			</choice>
    		</sequence>
			<attribute name="name" type="conf:string" use="required"/>
			<attribute name="applicationId" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
        </complexType>
    </element>

	<element name="PathRegex">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
					<element ref="conf:AccessControlProvider"/>
				</choice>
				<element ref="conf:Query" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="regex" type="conf:string" use="required"/>
			<attribute name="ignoreCase" type="boolean"/>
			<attribute name="applicationId" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
		</complexType>
	</element>
	
	<element name="Query">
		<complexType>
			<sequence>
				<choice minOccurs="0">
					<element ref="conf:htaccess"/>
					<element ref="conf:AccessControl"/>
					<element ref="conf:AccessControlProvider"/>
				</choice>
				<element ref="conf:Query" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="name" type="conf:string" use="required"/>
			<attribute name="regex" type="conf:string"/>
			<attributeGroup ref="conf:ContentSettings"/>
		</complexType>
	</element>
	
	<element name="ApplicationDefaults">
		<annotation>
			<documentation>Container for default settings and application-specific overrides</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions"/>
				<element ref="conf:Errors" minOccurs="0"/>
				<element ref="conf:RelyingParty" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="conf:Notify" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="saml:Audience" minOccurs="0" maxOccurs="unbounded"/>
                <element name="MetadataProvider" type="conf:PluggableType"/>
				<element name="TrustEngine" type="conf:PluggableType"/>
				<element name="AttributeExtractor" type="conf:PluggableType" minOccurs="0"/>
				<element name="AttributeResolver" type="conf:PluggableType" minOccurs="0"/>
				<element name="AttributeFilter" type="conf:PluggableType" minOccurs="0"/>
				<element name="CredentialResolver" type="conf:PluggableType" minOccurs="0"/>
				<element ref="conf:ApplicationOverride" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
			<attribute name="id" type="conf:string" fixed="default"/>
			<attribute name="entityID" type="anyURI" use="required"/>
			<attribute name="policyId" type="conf:string" use="required"/>
			<attributeGroup ref="conf:ApplicationGroup"/>
		    <attributeGroup ref="conf:RelyingPartyGroup"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="ApplicationOverride">
		<annotation>
			<documentation>Container for application-specific overrides</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="conf:Sessions" minOccurs="0"/>
				<element ref="conf:Errors" minOccurs="0"/>
				<element ref="conf:RelyingParty" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="conf:Notify" minOccurs="0" maxOccurs="unbounded"/>
				<element ref="saml:Audience" minOccurs="0" maxOccurs="unbounded"/>
				<element name="MetadataProvider" type="conf:PluggableType" minOccurs="0"/>
				<element name="TrustEngine" type="conf:PluggableType" minOccurs="0"/>
				<element name="AttributeExtractor" type="conf:PluggableType" minOccurs="0"/>
				<element name="AttributeResolver" type="conf:PluggableType" minOccurs="0"/>
				<element name="AttributeFilter" type="conf:PluggableType" minOccurs="0"/>
				<element name="CredentialResolver" type="conf:PluggableType" minOccurs="0"/>
			</sequence>
			<attribute name="id" type="conf:string" use="required"/>
			<attribute name="entityID" type="anyURI"/>
			<attribute name="policyId" type="conf:string"/>
			<attributeGroup ref="conf:ApplicationGroup"/>
		    <attributeGroup ref="conf:RelyingPartyGroup"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<attributeGroup name="ApplicationGroup">
		<attribute name="homeURL" type="anyURI"/>
		<attribute name="REMOTE_USER" type="conf:listOfStrings"/>
		<attribute name="unsetHeaders" type="conf:listOfStrings"/>
		<attribute name="metadataAttributePrefix" type="conf:string"/>
	    <attribute name="attributePrefix" type="conf:string"/>
	</attributeGroup>

    <attributeGroup name="RelyingPartyGroup">
        <attribute name="authType" type="conf:string"/>
        <attribute name="authUsername" type="conf:string"/>
        <attribute name="authPassword" type="conf:string"/>
        <attribute name="signing" type="conf:bindingBoolean"/>
        <attribute name="signingAlg" type="anyURI"/>
        <attribute name="digestAlg" type="anyURI"/>
        <attribute name="encryption" type="conf:bindingBoolean"/>
        <attribute name="encryptionAlg" type="anyURI"/>
        <attribute name="keyName" type="conf:string"/>
        <attribute name="artifactEndpointIndex" type="unsignedShort"/>
        <attribute name="chunkedEncoding" type="boolean"/>
        <attribute name="connectTimeout" type="unsignedShort"/>
        <attribute name="timeout" type="unsignedShort"/>
        <attribute name="requireConfidentiality" type="boolean"/>
        <attribute name="requireTransportAuth" type="boolean"/>
        <attribute name="requireSignedAssertions" type="boolean"/>
    </attributeGroup>
    
	<element name="Sessions">
		<annotation>
			<documentation>Container for specifying protocol handlers and session policy</documentation>
		</annotation>
		<complexType>
			<choice minOccurs="0" maxOccurs="unbounded">
				<element ref="conf:SessionInitiator"/>
				<element ref="conf:LogoutInitiator"/>
				<element ref="md:AssertionConsumerService"/>
				<element ref="md:ArtifactResolutionService"/>
				<element ref="md:SingleLogoutService"/>
				<element ref="md:ManageNameIDService"/>
				<element name="Handler">
					<complexType>
						<complexContent>
							<restriction base="conf:PluggableType">
								<sequence>
									<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
								</sequence>
								<attribute name="Location" type="anyURI" use="required"/>
							    <attribute name="acl" type="conf:listOfStrings"/>
								<anyAttribute namespace="##any" processContents="lax"/>
							</restriction>
						</complexContent>
					</complexType>
				</element>
			</choice>
			<attribute name="handlerURL" type="anyURI"/>
			<attribute name="handlerSSL" type="boolean"/>
			<attribute name="exportLocation" type="conf:string"/>
			<attribute name="exportACL" type="conf:listOfStrings"/>
			<attribute name="cookieName" type="conf:string"/>
			<attribute name="cookieProps" type="conf:string"/>
            <attribute name="cookieLifetime" type="unsignedInt"/>
			<attribute name="idpHistory" type="boolean"/>
			<attribute name="idpHistoryDays" type="unsignedInt"/>
			<attribute name="lifetime" type="unsignedInt"/>
			<attribute name="timeout" type="unsignedInt"/>
		    <attribute name="maxTimeSinceAuthn" type="unsignedInt"/>
			<attribute name="checkAddress" type="boolean"/>
			<attribute name="consistentAddress" type="boolean"/>
			<anyAttribute namespace="##other" processContents="lax"/>
		</complexType>
	</element>

	<attribute name="policyId" type="conf:string">
		<annotation>
			<documentation>Used to reference Policy elements from profile endpoints.</documentation>
		</annotation>
	</attribute>

	<element name="SessionInitiator">
		<annotation>
			<documentation>Used to specify handlers that can issue AuthnRequests or perform discovery</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<restriction base="conf:PluggableType">
					<sequence>
						<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="Location" type="anyURI"/>
					<attribute name="id" type="conf:string"/>
					<attribute name="isDefault" type="boolean"/>
					<attribute name="relayState" type="conf:string"/>
					<attribute name="entityIDParam" type="conf:string"/>
					<attribute name="entityID" type="anyURI"/>
					<attribute name="URL" type="anyURI"/>
					<attribute name="outgoingBindings" type="conf:listOfURIs"/>
					<attribute name="template" type="anyURI"/>
					<attribute name="postArtifact" type="boolean"/>
					<attribute name="acsByIndex" type="boolean"/>
					<attribute name="defaultACSIndex" type="unsignedShort"/>
                    <attribute name="isPassive" type="boolean"/>
                    <attribute name="forceAuthn" type="boolean"/>
                    <attribute name="authnContextClassRef" type="anyURI"/>
                    <attribute name="authnContextComparison" type="samlp:AuthnContextComparisonType"/>
					<anyAttribute namespace="##any" processContents="lax"/>
				</restriction>
			</complexContent>
		</complexType>
	</element>

	<element name="LogoutInitiator">
		<annotation>
			<documentation>Used to specify handlers that can issue LogoutRequests</documentation>
		</annotation>
		<complexType>
			<complexContent>
				<restriction base="conf:PluggableType">
					<sequence>
						<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
					</sequence>
					<attribute name="Location" type="anyURI"/>
				    <attribute name="relayState" type="conf:string"/>
					<attribute name="outgoingBindings" type="conf:listOfURIs"/>
					<attribute name="template" type="anyURI"/>
					<attribute name="postArtifact" type="boolean"/>
					<anyAttribute namespace="##any" processContents="lax"/>
				</restriction>
			</complexContent>
		</complexType>
	</element>
	
	<element name="Errors">
		<annotation>
			<documentation>Container for error templates and associated details</documentation>
		</annotation>
		<complexType>
			<sequence>
				<any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
            <attribute name="redirectErrors" type="anyURI"/>
			<attribute name="session" type="anyURI"/>
			<attribute name="metadata" type="anyURI"/>
			<attribute name="access" type="anyURI"/>
			<attribute name="ssl" type="anyURI"/>
            <attribute name="localLogout" type="anyURI"/>
            <attribute name="globalLogout" type="anyURI"/>
			<attribute name="supportContact" type="conf:string"/>
			<attribute name="logoLocation" type="anyURI"/>
			<attribute name="styleSheet" type="anyURI"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>

    <element name="RelyingParty">
        <annotation>
            <documentation>Container for specifying settings to use with particular peers</documentation>
        </annotation>
        <complexType>
            <sequence/>
            <attribute name="Name" type="conf:string" use="required"/>
            <attributeGroup ref="conf:RelyingPartyGroup"/>
            <attribute name="entityID" type="anyURI"/>
            <anyAttribute namespace="##other" processContents="lax"/>
        </complexType>
    </element>
    
	<element name="Notify">
		<annotation>
			<documentation>Used to specify locations to receive application notifications</documentation>
		</annotation>
		<complexType>
			<sequence/>
			<attribute name="Channel" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="front"/>
						<enumeration value="back"/>
					</restriction>
				</simpleType>
			</attribute>
			<attribute name="Location" type="anyURI" use="required"/>
			<anyAttribute namespace="##any" processContents="lax"/>
		</complexType>
	</element>
	
	<element name="SecurityPolicies">
		<annotation>
			<documentation>Container for specifying sets of policy rules to apply to incoming messages</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="Policy" minOccurs="1" maxOccurs="unbounded">
					<annotation>
						<documentation>Specifies a set of SecurityPolicyRule plugins</documentation>
					</annotation>
					<complexType>
						<sequence>
							<element name="Rule" type="conf:PluggableType" minOccurs="1" maxOccurs="unbounded"/>
						</sequence>
						<attribute name="id" type="conf:string" use="required"/>
						<attribute name="validate" type="boolean"/>
						<anyAttribute namespace="##any" processContents="lax"/>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>

	<element name="TransportOption">
		<annotation>
			<documentation>Implementation-specific option to pass to SOAPTransport provider.</documentation>
		</annotation>
		<complexType>
			<simpleContent>
				<extension base="anySimpleType">
					<attribute name="provider" type="conf:string" use="required"/>
					<attribute name="option" type="conf:string" use="required"/>
				</extension>
			</simpleContent>
		</complexType>
	</element>
	
</schema>
